/* .infobox {
    display: flex;
    position: absolute;
    height: 700px;
    left: 30%;
    margin-top: 20px;
    margin-bottom: 20px;
    color: red;
    background-color: rgba(255, 255, 255, 0.267);
    max-width: 900px;
    max-height: 800px;
}

.infobox__info {
    padding-left: 20px;
    
}

.infobox__rating {
    display: flex;
  }

.infobox__title {
    font-size: 17px;
    font-weight: 800;
    text-align: justify;
    max-width: 50px;
} */